.marketplace-item {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 24px;
}
.marketplace-item:last-child {
    border-bottom: none;
}

.marketplace-item-info {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057;
    font-size: 1rem;
}

.marketplace-item .fa-trash:hover {
    cursor: pointer;
}
