<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" type="image/png" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="mask-icon" type="image/png" color="#5bbad5" href="safari-pinned-tab.svg">
    <link rel="manifest" href="/manifest.json" />

    <title><%= htmlWebpackPlugin.options.title %></title>

</head>

<body class="mod-bg-1">
    <script src="/js/index.js"></script>
    
    <div id="root"></div>

    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>

    <script src="/js/vendors.bundle.js"></script>
    <script src="/js/app.bundle.js"></script>
</body>


</html>